:root {
	--body-bg: #fcfcfc;
	--body-color: #171919;
	--nav-color: #25323d;
}

$link: #bc0023;
$white: #ffffff;
$blue: #007fef;
$cat: #f55;
$shuttleGray: #516270;
$silverSand: #c6cacd;

$nav-rgba: rgba(39, 39, 39, 1);
