@charset "UTF-8";
@import 'reset';
@import 'fonts';
@import 'colors';
@import 'animate';
@import 'burger';
@import 'tooltip';

body {
  font-family: $nunito;
  background-color: var(--body-bg);
  color: var(--body-color);
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// 	font-family: $robotoMono;
// }

input {
  line-height: normal;
  &:focus {
    outline: 0;
  }
}

a,
button {
  &:hover {
    transition: 0.3s all ease-in-out;
  }
  &:focus {
    outline: 0;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--body-color);

  &:hover {
    color: $link;
  }
}

button {
  border: 0;
}

.container {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

/*= Header =*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--body-bg);
}

.header_scroll {
  box-shadow: 0 6px 10px rgba($color: $nav, $alpha: 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/*= Nav =*/
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  min-height: 52px;
  font-size: 14px;
  font-weight: 700;
  // color: $white;

  // a,
  // button {
  //   color: $white;
  // }

  button {
    position: relative;
    outline: none;
    background-color: transparent;
  }

  // .is__active {
  //   background-color: $link;
  // }
}

.menu__link,
.nav__btn {
  transition: padding 0.5s ease-in-out;
}

/* Mobile Nav */
.nav__brand {
  display: block;
  margin-right: 1rem;

  .brand {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.brand__logo {
  max-height: 2.75rem;
}

.brand__title__wrap {
  display: none;
  line-height: 1.2;
}

.brand__title {
  font-family: $brand;
  font-size: 20px;
}

.brand__subtitle {
  display: block;
  font-size: 12px;
}

.nav__menu {
  display: none;
  flex-direction: column;
  text-align: center;
  order: 4;
  width: 100%;
  height: 100vh;
  position: relative;
  // z-index: 100;

  &.nav__menu_active {
    display: flex;
    position: fixed;
    top: 52px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--nav-color);
    animation: fadeInRight 0.7s;
  }
}

.menu__item {
  position: relative;
  &:nth-child(1n + 2) {
    padding: 4px 10px;
  }
}

.menu__item_donate {
  background-color: $link;
  margin-bottom: 40px;
}

.menu__link {
  &:not(.menu__link_action) {
    min-width: 110px;
  }
  padding: 0.25rem 0.5rem;
  position: relative;
  text-transform: uppercase;

  &:hover {
    background-color: $link;
  }
}

.has__submenu {
  .menu__link {
    cursor: pointer;
  }
}

.nav__submenu {
  display: none;
  min-width: 10rem;
  padding: 0 20px;
  position: relative;
  animation: fadeIn 0.8s;
}

.submenu__link {
  // display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  position: relative;

  &:hover {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $link;
    }
  }
}

.has__submenu_active {
  &:hover {
    .nav__submenu {
      display: block;
    }
  }
}

.menu__link,
.submenu__link {
  color: $white;
  &:hover {
    color: $white;
  }
}

.nav__date {
  flex: 1;
  text-align: center;
}

.nav__actions {
  display: flex;
  align-items: center;
  justify-content: center;

  [data-tooltip] {
    border-bottom: 0;
  }
}

.nav__search {
  margin-right: 8px;
}

.nav__search__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  padding: 1rem;
  background: rgba($color: $nav, $alpha: 0.8);
  // cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;

  &.is__visible {
    visibility: visible;
    opacity: 1;
  }

  .modal__content {
    width: 800px;
    max-height: 80vh;
    position: relative;
    background: $white;
    overflow: auto;
    transform: translate(0, -100%);
    // cursor: default;
  }

  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    color: var(--body-color);
  }

  .modal__btn__close {
    font-size: 2rem;
    line-height: 1;
    color: $link;
  }

  .modal__body {
    padding: 1rem;
  }
  .modal__form {
    // padding: 1rem;
    input {
      width: 100%;
      font-size: 1rem;
      border: 0;
      border-bottom: 2px solid $silverSand;
      padding: 6px;
      transition: 0.3s ease-in-out;

      &:hover,
      &:focus {
        border-bottom-color: rgba($color: $info, $alpha: 0.5);
      }
    }
  }
}

.nav__donate {
  display: none;
}

.menu__link_action {
  min-width: auto;
  padding: 1rem 0.5rem;
  font-size: 20px;
  line-height: 16px;
}

.burger {
  @media (min-width: 600px) {
    display: none;
  }
}
/* Desktop Nav */
@media (min-width: 600px) {
  .container {
    max-width: 960px;
  }

  .brand__logo {
    margin-right: 6px;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1;
    width: auto;
    height: auto;
  }

  .menu__item {
    &:nth-child(1n + 2) {
      padding: 0;
    }
  }

  .menu__item_donate {
    display: none;
  }

  .menu__link,
  .submenu__link {
    color: inherit;
  }

  .menu__link {
    &:not(.menu__link_action) {
      min-width: 75px;
    }
    padding: 1.5rem 0.5rem;
  }

  .nav__submenu {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    z-index: 100;
    padding: 10px;
    text-align: left;
    border-top: 2px solid $link;
    background-color: $white;
    box-shadow: 0 6px 10px rgba($color: $nav, $alpha: 0.15);
  }

  .submenu__link {
    &::after {
      display: none;
    }

    &:hover {
      background-color: $link;
    }
  }

  .has__submenu {
    &:hover {
      .nav__submenu {
        display: block;
      }
    }
  }

  .nav__date {
    order: 2;
  }

  .nav__actions {
    order: 3;
  }

  .nav__search {
    margin-right: 0;
  }

  .nav__search__form {
    width: 400px;
    padding: 20px 10px;
  }

  .nav__donate {
    display: flex;
  }

  .nav__btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .burger {
    display: none;
  }

  .header_scroll {
    .menu__link,
    .nav__btn {
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
    }
  }
}

@media (min-width: 1400px) {
  .nav__date {
    text-align: left;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 768px) {
  .nav__brand {
    margin-right: 2rem;
  }
  .brand__title__wrap {
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  [data-tooltip].tooltip__bottom::before {
    left: -50%;
  }
}

/*= Main =*/
.main {
  margin-top: 3.25rem;

  @media (min-width: 600px) {
    margin-top: 4.25rem;
  }
}

/* Banner */
.main__banner {
  // height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
  margin-left: -8px;
  background-color: #f5f5f5;
  animation: fadeInDown 0.9s;

  .banner__content {
    width: 100%;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 3px solid #d0d6e2;
  }

  .brand {
    text-align: center;
  }

  .brand__title {
    font-size: 22px;
  }
  .brand__subtitle {
    font-size: 14px;
  }
}

/* Main entry */
.main__entry {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.post__block {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 38px 0 20px 30px;
  border-left: 3px solid;
  border-image: linear-gradient(to right, $timeline 0%, $timeline2 100%);
  border-image-slice: 1;
  animation: fadeIn 2s ease-in-out;

  &::before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 42px;
    background-color: $timeline-point;
    transform: rotate(45deg);
  }

  &:before {
    left: -8px;
  }

  // &:not(:nth-child(n + 3)) {
  //   animation-duration: 4s;
  // }

  // &:nth-child(n + 4) {
  //   animation: fadeInUp 0.9s;
  //   animation-delay: 1s;
  // }
}

.post__date {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  font-family: $date;
  font-size: 12px;

  span {
    position: relative;
    padding: 2px;
    outline: 2px solid $timeline-point;
    outline-offset: 0px;

    &::after {
      content: '';
      position: absolute;
      left: -18px;
      top: 10px;
      width: 8px;
      height: 1px;
      background-color: $timeline-point;
    }
  }
}

.post__body {
  margin-left: -1rem;
}

.post__title {
  margin-bottom: 1rem;
  font-size: 18px;
}

.post__excerpt {
  margin-bottom: 1rem;
  font-size: 15px;
  font-style: italic;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  background-image: linear-gradient(to right, #f5f5f5 0%, #eeeeee 100%);
}

.post__read {
  padding-left: 10px;
  border-left: 2px solid $timeline;
}

/* Desktop */

@media (min-width: 769px) {
  .main__banner {
    margin: 0;

    .banner__content {
      margin: 0;
    }

    .brand__title {
      font-size: 28px;
    }

    .brand__subtitle {
      font-size: 1rem;
    }
  }

  .main__entry {
    padding-left: 0;
  }

  .post__block {
    padding: 40px;
    padding-bottom: 20px;
    border-top: 3px solid;
    border-left: 0;

    &::before {
      content: '';
      width: 1rem;
      height: 1rem;
    }

    &:before {
      left: -10px;
    }

    &:nth-child(odd) {
      border-left: 3px solid;
      // padding-right: 0;

      .post__date {
        margin-left: -1rem;

        span {
          &::after {
            left: -12px;
          }
        }
      }
    }

    &:nth-child(even) {
      justify-content: flex-end;
      border-right: 3px solid;
      // padding-left: 0;

      &:before {
        right: -10px;
        left: unset;
      }

      .post__date {
        margin-right: -1rem;

        span {
          &::after {
            right: -12px;
            left: unset;
          }
        }
      }
    }

    &:first-child {
      border-top: 0;
    }
  }

  .post__date {
    margin-bottom: 1.75rem;
  }

  .post__body {
    margin-left: 0;
  }

  .post__title {
    font-size: 22px;
  }

  .post__excerpt {
    margin-bottom: 1.75rem;
  }

  .post__footer {
    margin-right: -1rem;
    margin-left: -1rem;
  }
}
