@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arizonia&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body,
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

img,
video {
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

button,
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:root {
  --body-bg: #fcfcfc;
  --body-color: #171919;
  --nav-color: #25323d;
}

.burger {
  display: inline-block;
  position: relative;
  padding: 2px;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  overflow: visible;
}

.burger.burger_active .burger__inner, .burger.burger_active::before, .burger.burger_active::before {
  background-color: #ffffff;
}

.burger__box {
  width: 24px;
  height: 20px;
  display: block;
  position: relative;
}

.burger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.burger__inner::before, .burger__inner::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.burger__inner::before {
  top: -8px;
}

.burger__inner::after {
  bottom: -10px;
}

/*
   * Collapse
   */
.burger_collapse .burger__inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
       -o-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0.13s;
       -o-transition-delay: 0.13s;
          transition-delay: 0.13s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger_collapse .burger__inner::after {
  top: -16px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.burger_collapse .burger__inner::before {
  -webkit-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.burger_collapse.burger_active .burger__inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
       -o-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burger_collapse.burger_active .burger__inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.burger_collapse.burger_active .burger__inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--body-bg);
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

input {
  line-height: normal;
}

a:hover,
button:hover {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

a:focus,
button:focus {
  outline: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--body-color);
}

a:hover {
  color: #bc0023;
}

button {
  border: 0;
}

.container {
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: auto;
  margin-left: auto;
}

/*= Header =*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--nav-color);
  -webkit-box-shadow: 0 6px 10px rgba(37, 50, 61, 0.15);
          box-shadow: 0 6px 10px rgba(37, 50, 61, 0.15);
}

/*= Nav =*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 52px;
  font-size: 14px;
  color: #ffffff;
}

.nav a,
.nav button {
  color: #ffffff;
}

.nav button {
  position: relative;
  outline: none;
  background-color: transparent;
}

.menu__link,
.nav__btn {
  -webkit-transition: padding 0.5s ease-in-out;
  -o-transition: padding 0.5s ease-in-out;
  transition: padding 0.5s ease-in-out;
}

/* Mobile Nav */
.nav__brand {
  display: block;
  margin-right: 1rem;
}

.nav__brand .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.brand__logo {
  max-height: 2.75rem;
}

.brand__title {
  display: none;
  line-height: 1.2;
}

.brand__title h1 {
  font-family: "Arizonia", cursive;
  font-size: 20px;
}

.brand__subtitle {
  display: block;
  font-size: 12px;
}

.nav__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav__menu.is__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 53px;
  left: 0;
  right: 0;
  background-color: var(--nav-color);
}

.menu__item {
  position: relative;
}

.menu__item:nth-child(1n + 2) {
  padding: 4px 10px;
}

.menu__item_donate {
  background-color: #bc0023;
  margin-bottom: 40px;
}

.menu__link {
  min-width: 110px;
  padding: 0.25rem 0.5rem;
  position: relative;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #bc0023;
}

.has__submenu .menu__link {
  cursor: pointer;
}

.nav__submenu {
  display: none;
  min-width: 10rem;
  padding: 0 20px;
  position: relative;
}

.submenu__link {
  width: 100%;
  padding: 0.5rem 1rem;
  position: relative;
}

.submenu__link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #bc0023;
}

.has__submenu_active:hover .nav__submenu {
  display: block;
}

.nav__date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__search {
  margin-right: 8px;
}

.nav__donate {
  display: none;
}

@media (min-width: 600px) {
  .nav__donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__btn {
  display: block;
  padding: 1rem 0.5rem;
  font-size: 20px;
  line-height: 16px;
}

.nav__btn:hover {
  background-color: #bc0023;
}

@media (min-width: 600px) {
  .burger {
    display: none;
  }
}

/* Desktop Nav */
@media (min-width: 600px) {
  .container {
    max-width: 960px;
  }
  .brand__logo {
    margin-right: 6px;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
    height: auto;
  }
  .menu__item:nth-child(1n + 2) {
    padding: 0;
  }
  .menu__item_donate {
    display: none;
  }
  .menu__link {
    min-width: 75px;
    padding: 1.5rem 0.5rem;
  }
  .nav__submenu {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    padding: 10px;
    text-align: left;
    border-top: 2px solid #bc0023;
    background-color: var(--nav-color);
    -webkit-box-shadow: 0 6px 10px rgba(37, 50, 61, 0.15);
            box-shadow: 0 6px 10px rgba(37, 50, 61, 0.15);
  }
  .submenu__link::after {
    display: none;
  }
  .submenu__link:hover {
    background-color: #bc0023;
  }
  .has__submenu:hover .nav__submenu {
    display: block;
  }
  .nav__date {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav__actions {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .nav__search {
    margin-right: 0;
  }
  .nav__donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .burger {
    display: none;
  }
  .nav_scroll .menu__link,
  .nav_scroll .nav__btn {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 768px) {
  .brand__title {
    display: block;
  }
}

/*= Main =*/
.main {
  padding-top: 4.25rem;
}

@media (min-width: 600px) {
  .main {
    padding-top: 5rem;
  }
}
